.container {
  width: 100%;
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  background-color: var(--background-third);
  font-size: 14px;
}

.counter {
  font-size: 20px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  user-select: none;
}

.bom {
  padding: 4px;
}

.res_chip {
  display: inline-block;
  white-space: nowrap;
  padding: 4px 8px;
  margin: 4px;
  background-color: var(--background-sec);
  color: var(--foreground-sec);
  line-height: 1.2em;
  font-size: 12px;
}
