{
  "semi": false,
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "plugins": [],
  "overrides": [{ "files": "*.json", "options": { "printWidth": 120 } }]
}
