.page_layout {
  display: flex;
  /* gap: 12px; */
}

.catalog_column {
  width: 128px;
  flex-shrink: 0;
  user-select: none;
}

.items_column {
  flex: 1;
  border-left: 1px solid #333;
  font-size: 12px;
  padding-left: 24px;
}

.category_nav_container {
  width: 120px;
  height: 36px;
  padding: 4px;
  position: relative;

  display: flex;
  align-items: center;
}

.category_title {
  font-size: 12px;
  margin: 4px;
}

.arrow_prev, .arrow_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 1;
  opacity: 0.8;
  cursor: pointer;
}

.arrow_prev {
  left: 4px;
}
.arrow_next {
  right: 4px;
  transform: translateY(-50%) rotate(0.5turn);
}

.arrow_prev:hover,
.arrow_next:hover {
  opacity: 1;
  scale: 1.1;
}