.item_container {
  position: relative;
  border: 1px solid #555;
  padding: 4px;
  width: 120px;
  height: 120px;
  margin: 4px;
  overflow: hidden;
  font-size: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
}

.arrow_prev, .arrow_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 1;
  opacity: 0.8;
  cursor: pointer;
}

.arrow_prev {
  left: 4px;
}
.arrow_next {
  right: 4px;
  transform: translateY(-50%) rotate(0.5turn);
}

.arrow_prev:hover,
.arrow_next:hover {
  opacity: 1;
  scale: 1.1;
}