.item_container {
  position: relative;
  padding: 4px;
  width: 100%;
  /* height: 120px; */
  margin: 4px;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:8px;
}

.item_with_label_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_container img {
    border: 1px solid #333;
}

.arrow_prev, .arrow_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow_prev {
  left: 4px;
}
.arrow_next {
  right: 4px;
}

.item_label {
  font-size: 11px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.2em;
  height: calc(1.2em * 2);
}

.items_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
}