.title {
  max-width: 420px;
  font-size: 18px;
  margin: 12px 0;
}

.intro,
.intro p,
.intro h5 {
  font-size: 14px;
}

.intro h4,
.intro h5 {
  margin: 12px 0;
}

.intro ul {
  padding: 12px 36px;
}

.intro li {
  margin: 8px 0;
}

.link {
  color: var(--accent);
  font-weight: 800;
}
