.container {
  margin-right: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.header button {
  position: absolute;
  right: 0;
}

.title {
  font-size: 18px;
  margin: 24px 0;
}

.intro,
.intro p,
.intro h5 {
  font-size: 14px;
}

.intro h4,
.intro h5 {
  margin: 12px 0;
}

.intro ul {
  padding: 12px 36px;
}
