.container {
  margin-right: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.title {
  max-width: 420px;
  font-size: 18px;
  margin: 12px 0;
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.delete_icon,
.rename_icon,
.create_icon {
  position: absolute;
  cursor: pointer;
}

.delete_icon {
  right: 0;
}

.rename_icon {
  right: 36px;
}

.create_icon {
  right: 72px;
}

.rename_input {
  font-family: inherit;
  margin: 4px 0;
  padding: 0 8px;
  width: 320px;
  height: 38px;
  font-size: 16px;
  border: 1px solid var(--accent);
  background-color: #222;
  color: #ccc;
}
