.container {
  margin-right: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.title {
  max-width: 560px;
  font-size: 18px;
  margin: 12px 0;
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.action_icon {
  cursor: pointer;
}

.rename_input {
  font-family: inherit;
  margin: 4px 0;
  padding: 0 8px;
  width: 420px;
  height: 38px;
  font-size: 16px;
  border: 1px solid var(--accent);
  background-color: #222;
  color: #ccc;
}

.actions_container {
  position: relative;
  display: flex;
  align-items: center;
  border-top: 2px solid #333;
}

.icons_container {
  position: absolute;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-12px);
}

.icons_row {
  display: flex;
  gap: 12px;
}

.short_intro {
  border-top: 2px solid #333;
  padding-top: 16px;
}

.image_with_tooltip {
  /* position: relative; */
  display: inline-block;
}

.tooltip {
  visibility: visible;
  position: absolute;
  top: 0;
  /* left: 50%; */
  transform: translateX(-50%);
  transform: translateY(50%);
  background-color: #222;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition-delay: 0.2s;
  pointer-events: none;
  z-index: 4;
  border: 1px solid #555;
}

.image_with_tooltip:hover .tooltip {
  /* cursor: crosshair; */
  visibility: visible;
  opacity: 1;
}
