.column_container {
  display: flex;
  gap: 24px;
  margin: 0 12px;
}

.column1 {
  width: 180px;
  flex-shrink: 0;
  user-select: none;
  background-color: #111;
  height: 48px;
  border-bottom: 2px solid #333;
}

.column2 {
  flex: 1;
  font-size: 12px;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #333;
}

.loading {
  font-size: 18px;
  font-family: inherit;
}

.title {
  max-width: 560px;
  font-size: 18px;
  margin: 12px 0;
}

.content {
  padding: 12px;
  width: 100%;
}

.project_info {
  position: relative;
  display: flex;
  gap: 24px;
}

.time_info {
  width: 180px;
  flex-shrink: 0;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.name {
  flex: 1;
  margin: 0 12px;
  width: 100%;
  background-color: #222;
  margin: 4px 0;
  line-height: 2.2em;
  font-size: 12px;
  padding: 0 8px;
  color: var(--accent);
}

.header {
  font-size: 14px;
  font-weight: 800;
  background-color: #333;
  padding: 0 8px;
  line-height: 2.2em;
  margin: 4px 0;
  color: #ccc;
}
