.arrow {
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  color: var(--accent);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  user-select: none;
}

.arrow::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow:hover {
  border: 1px solid var(--accent-sec);
}
